{
  "presets": [
    [
      "env", {
        "modules": false,
        "target": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "plugins": "transform-es2015-modules-umd"
    }
  }
}
